.logo {
  position: absolute;
  width: 133.8px;
  height: 127.31px;
  left: 141.23px;
  top: 51px;
}

li {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* or 139% */
  color: #9097FD;
  list-style: none;
  text-transform: uppercase;
}

.about {
  /* ABOUT */
  position: absolute;
  width: 82px;
  height: 19px;
  left: 929px;
  top: 104px;
}

.work {
  /* WORK */
  position: absolute;
  width: 63px;
  height: 19px;
  left: 1069px;
  top: 104px;
}

.contact {
  position: absolute;
  width: 86px;
  height: 19px;
  left: 1208px;
  top: 104px;
}

.mitten{
  /* Mitten */
  position: absolute;
  width: 366.12px;
  height: 384.21px;
  left: 14.85px;
  top: 8.65px;
}

.noun-michigan {
  /* noun_Michigan_1012844 */

  position: absolute;
  width: 397px;
  height: 503px;
  left: 899px;
  top: 237px;

}

.greeting {
  position: absolute;
  width: 381px;
  height: 76px;
  left: 141px;
  top: 251px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120px;/* or 250% */

  color: #9097FD;
}

.greeting-details {
  position: absolute;
  width: 892px;
  height: 50px;
  left: 141px;
  top: 384px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 55px;/* or 153% */
  display: flex;
  align-items: center;

  color: #B3B8FF;
}

.greeting-description{
  position: absolute;
  width: 709px;
  height: 125px;
  left: 141px;
  top: 488px;

  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;/* or 143% */

  color: #000000;

}

.more {
  position: absolute;
  width: 192px;
  height: 58px;
  left: 607px;
  top: 705px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;/* or 222% */
  display: flex;
  align-items: center;
  text-align: center;

  display: block;

  color: #9097FD;
}

.chevron {
  margin: 0 auto;
}

.projects-experience{
  /* PROJECTS & EXPERIENCE */

  position: absolute;
  width: 1440px;
  height: 116px;
  left: 0px;
  top: 883px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #9097FD;

}
